In [1]:
import sqlite3

# Create a connection to the SQLite database (it will create the file if it doesn't exist)
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Create the 'employees' table if it doesn't exist
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    employee_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    salary INTEGER,
    department_id INTEGER
)
''')

# Insert sample data into the 'employees' table (you can skip this if data already exists)
cursor.executemany('''
INSERT INTO employees (employee_id, first_name, last_name, salary, department_id)
VALUES (?, ?, ?, ?, ?)
''', [
    (1, 'John', 'Doe', 50000, 1),
    (2, 'Jane', 'Smith', 60000, 1),
    (3, 'Alice', 'Johnson', 55000, 2),
    (4, 'Bob', 'Davis', 45000, 2),
    (5, 'Charlie', 'Wilson', 70000, 3)
])

# Commit the changes
conn.commit()

# Now run the SQL query
query = '''
SELECT e.employee_id, e.first_name, e.last_name, e.salary, e.department_id
FROM employees e
WHERE e.salary > (
  SELECT AVG(salary)
  FROM employees
  WHERE department_id = e.department_id
)
'''

# Execute the query and fetch all results
result = cursor.execute(query).fetchall()

# Print the result
for row in result:
    print(row)

# Close the connection
conn.close()

IntegrityError: UNIQUE constraint failed: employees.employee_id

In [2]:
# Delete all existing data from the employees table
cursor.execute('DELETE FROM employees')
conn.commit()

In [3]:
import sqlite3

# Create a connection to the SQLite database (it will create the file if it doesn't exist)
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Create the 'employees' table if it doesn't exist
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    employee_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    salary INTEGER,
    department_id INTEGER
)
''')

# Clear existing data from the employees table (optional, only if needed)
cursor.execute('DELETE FROM employees')
conn.commit()

# Insert sample data into the 'employees' table (you can skip this if data already exists)
cursor.executemany('''
INSERT INTO employees (employee_id, first_name, last_name, salary, department_id)
VALUES (?, ?, ?, ?, ?)
''', [
    (1, 'John', 'Doe', 50000, 1),
    (2, 'Jane', 'Smith', 60000, 1),
    (3, 'Alice', 'Johnson', 55000, 2),
    (4, 'Bob', 'Davis', 45000, 2),
    (5, 'Charlie', 'Wilson', 70000, 3)
])

# Commit the changes
conn.commit()

# Now run the SQL query
query = '''
SELECT e.employee_id, e.first_name, e.last_name, e.salary, e.department_id
FROM employees e
WHERE e.salary > (
  SELECT AVG(salary)
  FROM employees
  WHERE department_id = e.department_id
)
'''

# Execute the query and fetch all results
result = cursor.execute(query).fetchall()

# Print the result
for row in result:
    print(row)

# Close the connection
conn.close()

(2, 'Jane', 'Smith', 60000, 1)
(3, 'Alice', 'Johnson', 55000, 2)

In [4]:
cursor.executemany('''
INSERT OR REPLACE INTO employees (employee_id, first_name, last_name, salary, department_id)
VALUES (?, ?, ?, ?, ?)
''', [
    (1, 'John', 'Doe', 50000, 1),
    (2, 'Jane', 'Smith', 60000, 1),
    (3, 'Alice', 'Johnson', 55000, 2),
    (4, 'Bob', 'Davis', 45000, 2),
    (5, 'Charlie', 'Wilson', 70000, 3)
])

ProgrammingError: Cannot operate on a closed database.

In [8]:
import sqlite3

# Create a connection to the SQLite database (it will create the file if it doesn't exist)
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Create the 'employees' table if it doesn't exist
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    employee_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    salary INTEGER,
    department_id INTEGER
)
''')

# Clear existing data from the employees table (optional, only if needed)
cursor.execute('DELETE FROM employees')
conn.commit()

# Insert sample data into the 'employees' table (you can skip this if data already exists)
cursor.executemany('''
INSERT OR REPLACE INTO employees (employee_id, first_name, last_name, salary, department_id)
VALUES (?, ?, ?, ?, ?)
''', [
    (1, 'John', 'Doe', 50000, 1),
    (2, 'Jane', 'Smith', 60000, 1),
    (3, 'Alice', 'Johnson', 55000, 2),
    (4, 'Bob', 'Davis', 45000, 2),
    (5, 'Charlie', 'Wilson', 70000, 3)
])

# Commit the changes
conn.commit()

# Now run the SQL query
query = '''
SELECT e.employee_id, e.first_name, e.last_name, e.salary, e.department_id
FROM employees e
WHERE e.salary > (
  SELECT AVG(salary)
  FROM employees
  WHERE department_id = e.department_id
)
'''

# Execute the query and fetch all results
result = cursor.execute(query).fetchall()

# Print the result
for row in result:
    print(row)

# Close the connection
conn.close()

(2, 'Jane', 'Smith', 60000, 1)
(3, 'Alice', 'Johnson', 55000, 2)